.m-input {
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 2px;
    height: 32px;
    border: 1px solid #babec5;
    box-sizing: border-box;
    outline: none;
    width: -webkit-fill-available;
}

.m-input::placeholder {
    font-size: 12px;
    color: #949494;
    font-style: italic;
}

.m-input:hover {
    outline: 1px solid #e2e2e2;
}

.m-input:focus {
    border: 1px solid #2ca01c;
}

.m-input-icon {
    padding-right: 35.75px;
}

.m-icon-after {
    cursor: pointer;
    position: absolute;
    left: auto;
    right: 22px;
    top: 7px;
}

.m-input-search {
    width: 240px;
    margin-right: 10px;
}

.m-input-title {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 4px;
    white-space: nowrap;
}

.m-input-title-require {
    color: red;
}

.m-input-focus {
    border-color: #2ca01c!important;
}

.m-input-error, .m-input-error:focus {
    border-color: red!important;
}

/* Input radio */
.m-con-radio {
    margin-right: 20px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.m-input-radio {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 20px;
}

.m-radio {
    cursor: pointer;
    position: relative;
}

.m-radio-border {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #afafaf;
    background: #fff;
    z-index: 1;
    justify-content: center;
    display: block;
}

.m-input-radio:checked + .m-radio .m-radio-border {
    border-color: #2ca01c;
}

.m-input-radio:checked + .m-radio .m-radio-circle {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background: #2ca01c;
}

.m-radio-label {
    margin-left: 10px;
    cursor: pointer;
}

/* CSS input width */

.m-input-40 {
    width: 40%!important;
}

.m-input-60 {
    width: 60%!important;
}

.m-input-100 {
    width: 100%!important;
}