/* CSS layout */
@import url(./layout/main-content.css);
@import url(./layout/menu.css);
@import url(./layout/navbar.css);
@import url(./layout/content.css);
@import url(./layout/popup.css);
/* CSS base */
@import url(./base/icon.css);
@import url(./base/button.css);
@import url(./base/input.css);
@import url(./base/table.css);
@import url(./base/pagination.css);
@import url(./base/dropdown.css);
@import url(./base/skeleton.css);
@import url(./base/combobox.css);
@import url(./base/dialog.css);
@import url(./base/loading.css);
@import url(./base/keyframes.css);

@font-face {
  font-family: Noto-Sans-Regular;
  src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
  font-family: Noto-Sans-Italic;
  src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}

@font-face {
  font-family: Noto-Sans-SemiBold;
  src: url(../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}

@font-face {
  font-family: Noto-Sans-Bold;
  src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}

body {
  margin: 0;
  font-family: Noto-Sans-Regular;
  font-size: 13px;
  overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    -webkit-text-decoration-style: initial;
    text-decoration-style: solid;
    -webkit-text-decoration-color: initial;
    text-decoration-color: initial;
    font-family: inherit;
    font-size: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px
}

::-webkit-scrollbar-track {
  background: #f1f1f1
}

::-webkit-scrollbar-thumb {
  background: #b8bcc3
}

::-webkit-scrollbar-thumb:hover {
  background: #888
}

::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1;
  width: 10px
}

.m-container {
  display: flex;
  height: 100vh;
}

.m-flex {
  display: flex;
}

.m-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.m-pr-6 {
  padding-right: 6px;
}

.m-pb-12 {
  padding-bottom: 12px;
}
 
.m-ml-8 {
  margin-left: 8px;
}

.m-justify-center {
  justify-content: center;
}

.m-justify-between {
  justify-content: space-between;
}
